body {
  background-color: black;
  color: white;
}

.header-text {
    text-align: center;
}

/* label color */
.input-field label {
  color: #fff;
}
/* label focus color */
.input-field input[type=password]:focus + label {
  color: #ff9800;
}
/* label underline focus color */
.input-field input[type=password]:focus {
  border-bottom: 1px solid #ff9800;
  box-shadow: 0 1px 0 0 #ff9800;
}
/* valid color */
.input-field input[type=password].valid {
  border-bottom: 1px solid #ff9800;
  box-shadow: 0 1px 0 0 #ff9800;
}
/* invalid color */
.input-field input[type=password].invalid {
  border-bottom: 1px solid #ff9800;
  box-shadow: 0 1px 0 0 #ff9800;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #ff9800;
}

.alert-err {
    background-color: #ff9800;
    border-color: #ff9800;
    color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
